@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1658895307893') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e626";
}

.icon-fabuwenzhang:before {
  content: "\e670";
}

.icon-keshijieshao:before {
  content: "\e67d";
}

.icon-lianjie_1:before {
  content: "\e76c";
}

